LPTCtrl.Web/Web References/WebService/LPTPort.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:suds="http://www.w3.org/2000/wsdl/suds" xmlns:ns2="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware/LPTCtrl.Hardware%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull" xmlns:ns1="http://schemas.microsoft.com/clr/ns/System" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware/LPTCtrl.Hardware%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull" name="LPTPort" targetNamespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware/LPTCtrl.Hardware%2C%20Version%3D1.0.0.0%2C%20Culture%3Dneutral%2C%20PublicKeyToken%3Dnull" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="LPTPort.GetInput" />
  <wsdl:message name="LPTPort.GetOutput">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="LPTPort.SetInput">
    <wsdl:part name="value" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="LPTPort.SetOutput" />
  <wsdl:message name="LPTPort.GetBitInput">
    <wsdl:part name="bit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="LPTPort.GetBitOutput">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="LPTPort.SetBitInput">
    <wsdl:part name="bit" type="xsd:int" />
    <wsdl:part name="value" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="LPTPort.SetBitOutput" />
  <wsdl:message name="LPTPort.ToggleBitInput">
    <wsdl:part name="bit" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="LPTPort.ToggleBitOutput" />
  <wsdl:portType name="LPTPortPortType">
    <wsdl:operation name="Get">
      <wsdl:input name="GetRequest" message="ns0:LPTPort.GetInput" />
      <wsdl:output name="GetResponse" message="ns0:LPTPort.GetOutput" />
    </wsdl:operation>
    <wsdl:operation name="Set" parameterOrder="value">
      <wsdl:input name="SetRequest" message="ns0:LPTPort.SetInput" />
      <wsdl:output name="SetResponse" message="ns0:LPTPort.SetOutput" />
    </wsdl:operation>
    <wsdl:operation name="GetBit" parameterOrder="bit">
      <wsdl:input name="GetBitRequest" message="ns0:LPTPort.GetBitInput" />
      <wsdl:output name="GetBitResponse" message="ns0:LPTPort.GetBitOutput" />
    </wsdl:operation>
    <wsdl:operation name="SetBit" parameterOrder="bit value">
      <wsdl:input name="SetBitRequest" message="ns0:LPTPort.SetBitInput" />
      <wsdl:output name="SetBitResponse" message="ns0:LPTPort.SetBitOutput" />
    </wsdl:operation>
    <wsdl:operation name="ToggleBit" parameterOrder="bit">
      <wsdl:input name="ToggleBitRequest" message="ns0:LPTPort.ToggleBitInput" />
      <wsdl:output name="ToggleBitResponse" message="ns0:LPTPort.ToggleBitOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LPTPortBinding" type="ns0:LPTPortPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <suds:class type="ns0:LPTPort" rootType="MarshalByRefObject">
    </suds:class>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware#Get" />
      <suds:method attributes="public" />
      <wsdl:input name="GetRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="GetResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware#Set" />
      <suds:method attributes="public" />
      <wsdl:input name="SetRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="SetResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBit">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware#GetBit" />
      <suds:method attributes="public" />
      <wsdl:input name="GetBitRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="GetBitResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBit">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware#SetBit" />
      <suds:method attributes="public" />
      <wsdl:input name="SetBitRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="SetBitResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleBit">
      <soap:operation soapAction="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware#ToggleBit" />
      <suds:method attributes="public" />
      <wsdl:input name="ToggleBitRequest">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="ToggleBitResponse">
        <soap:body use="encoded" namespace="http://schemas.microsoft.com/clr/nsassem/LPTCtrl.Hardware.LPTPort/LPTCtrl.Hardware" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LPTPortService">
    <wsdl:port name="LPTPortPort" binding="ns0:LPTPortBinding">
      <soap:address location="http://localhost:9998/LPTPort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>